@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

@keyframes h1-fade-in{
    0% {opacity: 0;}
    100% {opacity: 95%;}
}

@-webkit-keyframes h1-fade-in{
    0% {-webkit-opacity: 0;}
    100% {opacity: 95%;}
}

@keyframes h2-fade-in{
    0% {opacity: 0;}
    100% {opacity: 82%;}
}

@-webkit-keyframes h2-fade-in{
    0% {opacity: 0;}
    100% {opacity: 82%;}
}

@keyframes h3-fade-in{
    0% {opacity: 0;}
    100% {opacity: 69%;}
}

@-webkit-keyframes h3-fade-in{
    0% {opacity: 0;}
    100% {opacity: 69%;}
}

@keyframes h4-fade-in{
    0% {opacity: 0;}
    100% {opacity: 56%;}
}

@-webkit-keyframes h4-fade-in{
    0% {opacity: 0;}
    100% {opacity: 56%;}
}

@keyframes h5-fade-in{
    0% {opacity: 0;}
    100% {opacity: 43%;}
}

@-webkit-keyframes h5-fade-in{
    0% {opacity: 0;}
    100% {opacity: 43%;}
}

@keyframes h6-fade-in{
    0% {opacity: 0;}
    100% {opacity: 30%;}
}

@-webkit-keyframes h6-fade-in{
    0% {opacity: 0;}
    100% {opacity: 30%;}
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}

p{
    font-size: .9em;
    line-height: 1.6em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    padding: 1em 2em;
}

.logo{
    margin-top: 15%;
    width: 12em;
    /*height: */
}

.hide-mobile{
    display: none;
}

.menu{
    width: 5em;
    margin-top: 5%;
}

.bnw-wall{
    margin-top: 2em;
    background-color: black;
    color: white;
    text-align: center;
    /*padding: 20% 8%;*/
    padding: 5em 0;
    font-weight: bold;
    height: 20%;
    width:100%;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
}

.bnw-wall .transition-block #hypertext{
    font-size: 1.5em;
}

.bnw-wall .transition-block #cascading{
    display: none;
}

.bnw-wall:hover .transition-block #hypertext{
    display: none;
}
.bnw-wall:hover{
    background-color: white;
}
.bnw-wall:hover .transition-block #cascading{
    display: inherit;
    color: black;
    content: element(#cascading);
    font-weight: bold;
    font-size: 1.5em;
}

.headers-container{
    background-color: #fafafa;
}

.headers-container ul li{
    /*margin: 5% auto;*/
    font-size: 1.5em;
    padding: 1%;
}

.headers-container ul li h1{
    opacity: 0;
    animation-name: h1-fade-in;
    animation-delay: .4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: h1-fade-in;
    -webkit-animation-delay: .4s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

.headers-container ul li h2{
    opacity: 0;
    animation-name: h2-fade-in;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: h2-fade-in;
    -webkit-animation-delay: .5s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

.headers-container ul li h3{
    opacity: 0;
    animation-name: h3-fade-in;
    animation-delay: .6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: h3-fade-in;
    -webkit-animation-delay: .6s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

.headers-container ul li h4{
    opacity: 0;
    -webkit-animation-name: h4-fade-in;
    -webkit-animation-delay: .7s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

.headers-container ul li h5{
    opacity: 0;
    animation-name: h5-fade-in;
    animation-delay: .8s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: h5-fade-in;
    -webkit-animation-delay: .8s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

.headers-container ul li h6{
    opacity: 0;
    animation-name: h6-fade-in;
    animation-delay: .9s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: h6-fade-in;
    -webkit-animation-delay: .9s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

.btn-container{
    margin-top: 5%;
    font-size: 1.5em;
    text-align: center;
}

.next-btn{
    background-color: black;
    width: calc(100% - 5em);
    display: block;
    color:white;
    padding: 1em 0;
    margin: 0 auto;
    text-decoration: none;
    font-size: 80%;
    /*height: 110%;*/
    z-index: 4;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    border: 2em red;
}

.next-btn:hover{
    color:black;
    background-color: white;
    /*border: 2em black;*/
    text-decoration: underline;
}

.footer-container{
    margin: 5% auto;
}

.footer-container .container p{
    /*font-size: 50%;*/
    opacity: 80%;
    display: inline;
    /*text-decoration: underline;*/
}